@media screen and (max-width: 1200px) {
    .about__title-img {
        display: none;
    }
    .about__item {
        margin: 0;
        max-width: 1000px;
    }
    .about {
        margin-left: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1100px) {
    .header__menu {
        background-size: cover;
    }
    .title::after {
        width: 90%;
    }
    .gallery__card-first {
        margin-bottom: 0;
    }
    .gallery__card+.gallery__card {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 880px) {
    .footer__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__contacts-adress {
        padding: 0 10px;
        margin-bottom: 30px;
    }
    .footer__contacts {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 25px 0 25px 0;
    }
    .about__item li {
        line-height: 25px;
    }
}

@media screen and (max-width: 800px) {
    .header__title {
        display: none;
    }
    .header__menu {
        margin: 0;
    }
    .header__nav-mobile li {
        display: block;
        display: flex;
        justify-content: space-around;
        font-size: 24px;
        font-weight: 500;
        padding: 15px 0;
    }
    .header__item-link {
        display: none;
    }
    .mob-menu {
        display: block;
    }
    ul.header__menu-list {
        padding: 27px 0;
    }
    .mob-menu-burger {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin: 15px 15px 0 0;
    }
    .header__nav {
        background-image: url("../img/rosa.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20%;
    }
    .header__body .header__contacts {
        padding-bottom: 300px;
        margin-left: 20px;
        padding-top: 15px;
    }
    .header__item-mobile {
        display: block;
        margin: 0 auto;
    }
    .footer__map-first {
        display: none;
    }
    .footer__map-second {
        display: block;
    }
    .footer__maps {
        padding: 0;
    }
    .footer__location {
        font-size: 22px;
        padding: 20px;
        margin-bottom: 0;
    }
    .title {
        margin: 180px 0 120px 0;
    }
    .gallery-title {
        margin-top: 0;
        margin-bottom: 100px;
    }
    .about ul {
        margin: 0 15px 40px 25px;
    }
    .about__item li+li {
        margin-top: 20px;
    }
    .footer__bridge {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .gallery-title {
        margin-bottom: 120px;
    }
    .about-title {
        margin: 180px 0 120px 0;
    }
}

@media screen and (max-width: 640px) {
    .gallery__card-first {
        margin-left: 25px;
        margin-bottom: 20px;
    }
    .gallery__card+.gallery__card {
        margin-left: 25px;
        margin-bottom: 20px;
    }
    .gallery__card {
        height: 370px;
    }
    .gallery__card--list.gallery__card-first {
        margin-bottom: 0;
    }
    .gallery__card--list.gallery__card {
        height: 225px;
    }
}

@media screen and (max-width: 535px) {
    .gallery__card+.gallery__card {
        margin-left: 50px;
    }
    .gallery__card-first {
        margin: 0;
    }
    .gallery__card+.gallery__card {
        margin: 0;
    }
    .header__nav {
        background-image: url("../img/rosa.svg");
        background-size: 20%;
    }
    .about__item {
        font-size: 15px;
    }
    .gallery__card--list.gallery__card-first {
        margin-left: 25px;
    }
    .gallery__card--list.gallery__card+.gallery__card {
        margin: 0 0 20px 25px;
    }
}

@media screen and (max-width: 456px) {
    .about-title {
        padding: 0 5px;
    }
    .gallery-title {
        margin-bottom: 140px;
    }
}

@media screen and (max-width: 440px) {
    .about {
        margin-bottom: 20px;
    }
    .about-title {
        display: none;
    }
    .about-title-copy {
        display: block;
        margin: 40px 0;
        letter-spacing: 3px;
        font-size: 25px;
    }
    .about__title-text {
        font-size: 23px;
        font-weight: 900;
        margin: 20px 0 20px 20px;
    }
    .about ul {
        margin-bottom: 0;
    }
    .header__body .header__contacts {
        padding-bottom: 100px;
    }
    .header__menu {
        background-size: cover;
        background-position-x: 150px;
    }
}

@media screen and (max-width: 430px) {
    .title::after {
        top: 35px;
    }
    .header__nav {
        background-image: none;
        padding-right: 40px;
    }
}

@media screen and (max-width: 424px) {
    .gallery__card--list.gallery__card-first {
        margin: 0 10px 20px 10px;
    }
    .gallery__card--list.gallery__card+.gallery__card {
        margin: 0 10px 20px 10px;
    }
}

@media screen and (max-width: 409px) {
    .footer__bridge {
        top: 145px;
    }
}

@media screen and (max-width: 387px) {
    .gallery__card--list.gallery__card-first {
        margin: 0 0 20px 5px;
    }
    .gallery__card--list.gallery__card+.gallery__card {
        margin: 0 0 20px 5px;
    }
}

@media screen and (max-width: 370px) {
    .gallery-title {
        margin-bottom: 160px;
    }
    .about__item li {
        line-height: 20px;
    }
}

@media screen and (max-width: 340px) {
    .gallery__card--list.gallery__card-first {
        margin: 0 0 20px 0;
    }
    .gallery__card--list.gallery__card+.gallery__card {
        margin: 0 0 20px 0;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}